#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
}

.filter-menu {
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 500px;
  border: solid red 3px;
  background-color: black;
  opacity: 0.6;
  cursor:pointer;
}

.button {
  position: absolute;
  top:20px;
  left:240px;
  background:url('./icons/Hamburger_icon.svg') no-repeat;
  width:32px;
  height:32px;
  cursor:pointer;
  border: none;
}
